<head th:replace="~{fragments/head :: head}">
</head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main class="game_main">

    <section class="game-header">

        <div class="game-title">
            <span class="game-eyebrow">PARTIE EN COURS</span>
            <h2 th:if="${game.factoryId == 'tictactoe'}">Morpion</h2>
            <h2 th:if="${game.factoryId == '15 puzzle'}" >Taquin</h2>
            <h2 th:if="${game.factoryId == 'connect4'}" >Puissance 4</h2>
        </div>

        <div class="game-info">
            <div class="game-info-item">
                <span class="game-info-label">Status</span>
                <strong th:text="${game.status}"></strong>
            </div>
            <div class="game-info">
                <span class="game-info-label">Plateau</span>
                <strong>
                    <span th:text="${game.getBoardSize()}"></span>
                    x
                    <span th:text="${game.getBoardSize()}"></span>
                </strong>
            </div>
        </div>

    </section>



    <div th:if="${winnerId != null}" class="game-result">

        <h2>🏆 Partie terminée</h2>

        <p th:if="${winnerId.equals(userId)}">
            Vous avez gagné !
        </p>

        <p th:unless="${winnerId.equals(userId)}">
            Votre adversaire a gagné.
        </p>

    </div>


    <div th:if="${(winnerId != null and winnerId.equals(userId))
          or (game.factoryId.equals('15 puzzle') and game.status.equals('TERMINATED'))}"
         id="victory-popup"
         class="victory-popup">

        <div class="victory-content">
            <button type="button" id="close-victory" class="close-victory">
                ×
            </button>

            <div class="victory-icon">🏆</div>

            <h2 th:if="${(winnerId != null and winnerId.equals(userId))}">VICTOIRE !</h2>
            <h2 th:if="${(game.factoryId.equals('15 puzzle') and game.status.equals('TERMINATED'))}">VICTOIRE !</h2>

            <p>Félicitations, vous avez gagné ! 🎉</p>
        </div>

        <div id="confetti-container"></div>
    </div>

    <div class="turn-message" id="turn-message"></div>

    <section class="game-board-container">
        <div id="game-board"
             th:data-game-id="${game.id}"
             th:data-size="${game.boardSize}"
             th:data-game-type="${game.factoryId}"
             th:data-user-id="${userId}"
             th:data-current-player-id="${game.currentPlayerId}"
             class="game-board">

            <div th:each="entry : ${game.board}"
                 class="game-token"
                 th:data-x="${entry.value.position.x}"
                 th:data-y="${entry.value.position.y}"
                 th:text="${entry.value.name}">
            </div>

        </div>

    </section>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script th:src="@{/js/game.js}"></script>
<script src="https://kit.fontawesome.com/5bef22b054.js" crossorigin="anonymous"></script>
</body>
</html>