<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}">
</head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>

    <h2 th:text="${game.factoryId}"></h2>

    <p>
        Status :
        <span th:text="${game.status}"></span>
    </p>


    <p>
        Taille du plateau :
        <span th:text="${game.boardSize}"></span>
    </p>

    <div th:if="${winnerId != null}" class="game-result">

        <h2>🏆 Partie terminée</h2>

        <p th:if="${winnerId.equals(userId)}">
            Vous avez gagné !
        </p>

        <p th:unless="${winnerId.equals(userId)}">
            Votre adversaire a gagné.
        </p>

    </div>

    <div id="game-board"
         th:data-game-id="${game.id}"
         th:data-size="${game.boardSize}"
         th:data-game-type="${game.factoryId}"
         class="game-board">

        <div th:each="entry : ${game.board}"
             class="game-token"
             th:data-x="${entry.value.position.x}"
             th:data-y="${entry.value.position.y}"
             th:text="${entry.value.name}">
        </div>

    </div>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script th:src="@{/js/game.js}"></script>
<script src="https://kit.fontawesome.com/5bef22b054.js" crossorigin="anonymous"></script>
</body>
</html>