<head th:replace="~{fragments/head.html}">
</head>

<body>
    <header th:replace="~{fragments/header.html}"></header>
    <main class="home-main">

        <section class="welcome-card">

            <div>
                <p class="welcome-label">Bienvenue</p>

                <h1>
                    Bonjour <span th:text="${username}"></span> 👋
                </h1>
                <span class="user-role" sec:authorize="hasRole('USER')">Utilisateur</span>

                <span class="user-role" sec:authorize="hasRole('ADMIN')">Administrateur</span>

                <p class="welcome-text">
                    Retrouvez vos parties et commencez à jouer.
                </p>
            </div>

            <div class="welcome-icon">
                <i class="fa-solid fa-gamepad"></i>
            </div>

        </section>


        <section class="my-games">

            <div class="section-title">

                <div>
                    <p class="section-label">Votre espace</p>
                    <h2>Mes jeux</h2>
                </div>

            </div>


            <div th:if="${#lists.isEmpty(games)}"
                 class="empty-games">

                <div class="empty-icon">
                    <i class="fa-solid fa-dice"></i>
                </div>

                <h3>Aucune partie pour le moment</h3>

                <p>
                    Vous n'avez pas encore de partie.
                    Créez-en une pour commencer à jouer !
                </p>
            </div>


            <div class="game-list" th:unless="${#lists.isEmpty(games)}">
                <div class="game-card" th:each="game : ${games}">
                    <h3 th:if="${game.getFactoryId() == 'tictactoe'}" th:text="Morpion"></h3>
                    <h3 th:if="${game.getFactoryId() == '15 puzzle'}" th:text="Taquin"></h3>
                    <h3 th:if="${game.getFactoryId() == 'connect4'}" th:text="'Puissance 4'"></h3>
                    <p>
                        ID :
                        <span th:text="${game.getId()}"></span>
                    </p>

                    <p>
                        Status :
                        <span th:text="${game.getStatus()}"></span>
                    </p>
                    <div class="game-actions">
                        <a class="btn" th:href="@{/games/{id}(id=${game.id})}">
                            Jouer
                        </a>
                        <form th:action="@{/games/{id}/delete(id=${game.id})}"
                              method="post"
                              style="display:inline"
                              onsubmit="return confirm('Voulez-vous vraiment supprimer cette partie ?');">

                            <button type="submit" class="delete-button">
                                <i class="fa-solid fa-trash"></i>
                            </button>

                        </form>
                    </div>
                </div>
            </div>
            <div>
                <button class="home-button" type="button" onclick="document.getElementById('createGameModal').showModal()"><i class="fa-solid fa-plus"></i>  Créer une nouvelle partie</button>
            </div>
        </section>

        <!-- Modal de création d'une nouvelle partie -->
        <dialog  id="createGameModal">
            <section  >
                <h1>Créer une partie</h1>

                <section>
                    <form method="POST" action="/games">
                        <div>
                            <label for="gameType">Type de jeu : </label>

                            <select name="gameType" id="gameType" required>
                                <option value="">-- Choisir un jeu --</option>
                                <option th:each="listgame : ${listGames}"  th:value="${listgame.id}" th:text="${listgame.name}"></option>
                            </select>

                            <label for="playerCount">Nombre de joueurs :</label>
                            <input
                                    type="number"
                                    id="playerCount"
                                    name="playerCount"
                                    readonly
                            >

                            <label for="boardSize">Taille du plateau :</label>
                            <select name="boardSize" id="boardSize" required>

                            </select>

                            <div id="opponentsContainer">
                                <label for="opponentIds">
                                    Adversaire :
                                </label>

                                <select name="opponentId" id="opponentIds">
                                    <option value="">-- Choisir un adversaire --</option>
                                    <option th:each="user : ${users}" th:if="${user.username != username}" th:value="${user.id}" th:text="${user.username}"></option>
                                </select>

                            </div>


                            <div class="game-form-actions">
                                <button type="button" onclick="document.getElementById('createGameModal').close()">Annuler</button>
                                <button type="submit">Créer</button>
                            </div>
                        </div>

                    </form>
                </section>
            </section>

        </dialog>
    </main>

<footer th:replace="~{fragments/footer.html}"></footer>

<script>
    const gameType = document.getElementById("gameType");
    const playerCount = document.getElementById("playerCount");
    const boardSize = document.getElementById("boardSize");
    const opponentsContainer = document.getElementById("opponentsContainer");

    function updateGameForm() {

        boardSize.innerHTML = "";

        if (gameType.value === "tictactoe") {

            playerCount.value = 2;

            for (let size = 3; size <= 5; size++) {
                addBoardSizeOption(size);
            }

        } else if (gameType.value === "connect4") {

            playerCount.value = 2;

            addBoardSizeOption(7);

        } else if (gameType.value === "15 puzzle") {

            playerCount.value = 1;

            opponentsContainer.style.display = "none";

            for (let size = 3; size <= 8; size++) {
                addBoardSizeOption(size);
            }
        }
    }

    function addBoardSizeOption(size) {
        const option = document.createElement("option");

        option.value = size;
        option.textContent = size;

        boardSize.appendChild(option);
    }

    gameType.addEventListener("change", updateGameForm);

    updateGameForm();
</script>

</body>
</html>