<head th:replace="~{fragments/head.html}">
</head>
<body class="login-page">
<main class="login-container">
    <h1>Square Games</h1>

    <p>Connectez-vous à votre compte</p>

    <div class="login-error"
         th:if="${param.error}">
        Nom d'utilisateur ou mot de passe incorrect.
    </div>

    <form class="login-form" method="POST" th:action="@{/login}">
        <div>
            <label for="identifiant">Nom d'utilisateur : </label>
            <input id="identifiant" type="text" name="username" required/>
        </div>
        <div>
            <label for="password">Mot de passe : </label>
            <input id="password" type="password" name="password" required/>
        </div>

        <button class="btn" type="submit">Se connecter</button>

    </form>

</main>

</body>
</html>